@page "/login"
@inject Client.Services.AuthService AuthService
@using Shared.Models

<h3>Login</h3>


@if(isLoggedIn)
{    
    <p>Welcome, @username!</p>
    <button @onclick="LogoutAsync">Logout</button>
}
else
{
    <p>Please log in.</p>
    <input @bind="username" placeholder="Username" />
    <input @bind="password" placeholder="Password" type="password" />
    <button @onclick="LoginAsync">Login</button>
}


@if(!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}

@code {
    private string username = "";
    private string password = "";
    private string message = "";
    private bool isLoggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        UserDto? user = await AuthService.GetCurrentUserAsync();
        if (user != null)
        {
            isLoggedIn = true;
            username = user.Username;
        }
    }

    private async Task LoginAsync()
    {
        bool result = await AuthService.LoginAsync(username, password);
        if (result)
        {
            message = "Login successful!";
            isLoggedIn = true;
        }
        else
        {
            message = "Invalid username or password";
        }
    }

    private async Task LogoutAsync()
    {
        bool result = await AuthService.LogoutAsync();
        if (result)
        {
            message = "Logged out successfully";
            isLoggedIn = false;
            username = "";
        }
        else
        {
            message = "Logout failed";
        }
    }
}
